{% comment %}
------------------------------------------------------------------------------
  Section: Featured collection
  - This the main section that you should be working on
  - Main styling is done in /styles/sections/featured-collection.scss
------------------------------------------------------------------------------
{% endcomment %}

<section class="featured-collection" data-section-id="{{ section.id }}" data-section-type="featured-collection">
  {%- assign collection = collections[section.settings.collection] -%}

  <div style="display: flex; align-items: center; justify-content: center;">
    <h2 class="heading-2">{{ collection.title | escape }}</h2>
  </div>
  <div style="display: flex; align-items: center; justify-content: center;">
    <p class="our-perfected-jeans">{{ collection.description }}</p>
  </div>

  <div class="featured-collection-products carousel"  data-flickity='{ "groupCells": true, "percentPosition": false }'>
  {% for product in collection.products limit: 6 %}
  <div class="carousel-cell">
    {% assign current_variant = product.selected_or_first_available_variant %}
    <a href="{{ product.url | within: collection }}">
      <div class="bitmap">
        {% if product.featured_image != blank %}
          {{ product.featured_image | img_url: 'large' | img_tag }}
        {% endif %}
        

        <div class="add-to-cart-hover">
        <div style="display: flex; align-items: center; justify-content: center;">
          <div class="add-to-cart-collection-page" style="display: flex; align-items: center; justify-content: center;">
            <span js-ajax-cart="addToCart" data-variant-id="{{ current_variant.id }}" data-quantity="1">Add to cart</span>
          </div>
        </div>
        </div>

      </div>

      <div class="product-title-price-parent">
        <p class="product-title">{{ product.title | escape }}</p>

        <span class="product-price">
          {% include 'product-price' %}
        </span>
      </div>
    </a>
  </div>
  {% endfor %}
  </div>

</section>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
